@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../hero/Herolight.woff2') format('woff2'), url('../hero/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.card{
    width: 105px;
    height: 165px;
    border-radius: 10px;
    border: 0.5px solid #8e8e8e;
    margin-bottom: 15px;
}

.img{
    width: 85px;
    height: auto;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
}

.title{
    font-family: "Hero";
    font-weight: 200;
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    margin: 0 auto;
    width: 85px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price{

    width: 86px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    margin-left: 9.5px;
}

.priceItem{
    font-family: "Hero";
    font-weight: 200;
    font-size: 7.33px;
    line-height: 11.2px;
    color:#fff
}