@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../hero/Herolight.woff2') format('woff2'), url('../hero/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.card{
    width: 155px;
    height: 215px;
    border-radius: 10px;
    border: 0.5px solid #8e8e8e;
    margin-bottom: 15px;
}

.img{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}

.title{
    font-family: "Hero";
    font-weight: 200;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.price{

    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    margin-left: 15px;
}

.priceItem{
    font-family: "Hero";
    font-weight: 200;
    font-size: 10.33px;
    line-height: 11.2px;
    color:#fff
}