@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../hero/Herolight.woff2') format('woff2'), url('../hero/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.card{
    width: 165px;
    height: 261px;
    border-radius: 10px;
    border: 0.5px solid #8e8e8e;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 11px 11px 0 8px;
}

.title{
    font-family: "Hero";
    font-weight: 200;
    font-size: 12px;
    line-height: 14.4px;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.price{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.priceItem{
    font-family: "Hero";
    font-weight: 200;
    font-size: 12px;
    line-height: 14.4px;
    color:#fff
}