@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../hero/Herolight.woff2') format('woff2'), url('../hero/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.menu{
    max-width: 375px;
    min-height: 160px;
    position: absolute;
    z-index: 3;
    top: 0;
    background: linear-gradient(180deg, #02253F 0%, #010204 100%);
    color: #fff;
    font-family: "Hero", sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    padding-top: 50px;
    overflow: hidden;
}
.menu__content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 17px;
}

.list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 80%;
    cursor: pointer;
}